/* DEFAULT */

body {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

body,
pre, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus,
input:focus {
    outline: none;
}

.no_margin_padding {
    margin: 0px;
    padding: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

select>option:first-child {
    color: #999 !important;
}

.background {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.clickable {
    cursor: pointer;
}

#footer_alert {
    background-color: rgba(255, 255, 255, 0.286);
    border: 1px solid;

    z-index: 100;
    height: 40px;
    width: max-content;
    max-width: 300px;
    overflow: hidden;
    border-radius: 3px;

    position: fixed;
    bottom: -100px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;

    color: #737373;
    font-weight: 600;

    margin: 10px 0px;
    padding: 5px 15px;

    backdrop-filter: blur(7px);
    transition: bottom 0.4s;

    transition: transform 0.4s;
}

#footer_alert_symbol {
    height: 90%;
    width: 30px;
    object-fit: fill;
}

.user_profile_photo {
    cursor: pointer;
    width: 44px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(219, 219, 219);
}


/* NEWSFEED */

#stories,
.post-content-container {
    /* no scroller */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

#stories::-webkit-scrollbar,
.post-content-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}



.newsfeed {
    display: grid;
    grid-template-columns: 244px 1fr;
    height: 100vh;
    /* box-sizing: border-box; */
}

#newsfeed_opt_sec {
    position: relative;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100vh;
    /* padding: 0px 25px; */
}

#insightgram_logo_sec {
    height: 120px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#insightgram_logo_sec>img {
    width: 130px;
}



#newsfeed_options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 17px;
}

#newsfeed_options>div {
    width: 80%;
    height: 50px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}
#newsfeed_options>div.selected {
    /* background-color: #4cb5f9; */
    background-image: linear-gradient(135deg, #8134AF, #DD2A7B, #FCAF45);
    border-radius: 0px;
}
#newsfeed_options>div.selected svg {
    color: white;
    fill: white;
}

#newsfeed_options>div>.user_profile_photo {
    width: 24px;
    height: 24px;
}

#newsfeed-messenger-btn .red-dot {
    display: none;
}
#newsfeed-messenger-btn.new-message{
    font-weight: 700;
}
#newsfeed-messenger-btn.new-message .red-dot {
    display: block !important;
    position: absolute;
    right: -4px;
    top: -4px;
}
#newsfeed-messenger-btn.new-message svg {
    stroke: black;
    stroke-width: 1;
    position: relative;
}

#more_opts {
    width: 75%;
    height: 40px;
    padding: 5px 15px;
    margin-left: 17px;
    position: absolute;
    bottom: 25px;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    border-radius: 10px;

}

.hover_zoom_icon:hover svg,
.hover_zoom_icon:hover img {
    transform: scale(1.05);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.hover_zoom_icon:hover {
    background-color: rgb(238, 238, 238);
}

/* NEWSFEED CONTENT SEC */
#newsfeed_content_sec, #content-screen {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#newsfeed_content_sec {
    height: 100vh;
    display: grid;
    grid-template-columns: 630px 385px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 20px 0px 0px;
    box-sizing: border-box;
}

#newsfeed_content_sec>div {
    /* border: 1px solid; */
    height: 100%;
}

#content-screen {
    height: 100vh;
    box-sizing: border-box !important;
    overflow: hidden;
}
#content-screen>iframe {
    width: 100%;
    height: 100%;
}



/* PROFILE AND SUGGESTIONS  */

#profile_and_suggestions_sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 40px;
    position: fixed;
    right: 40px;
    max-height: 100vh !important;
}

#profile_access,
.recommended_user {
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-around;
    gap: 7px;
    box-sizing: border-box;
    padding-top: 45px;
}

.recommended_user {
    width: 100%;
    padding-top: 0px;
}

.dp_and_names {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 15px;
}

.username,
.username_plain {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.username_plain {
    font-weight: 400;
}

.fullname {
    color: #737373;
    font-size: 14px;
}

.action {
    display: flex;
    align-items: end;
    justify-content: right;
    align-items: center;
    font-weight: 600;
    color: #4cb5f9;
    font-size: 12px;
}

.naming,
.username,
.username_plain,
.fullname,
.action {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action {
    display: none;
}

#profile_access .user_profile_photo {
    width: 56px;
    height: 56px;
}

#profile_and_suggestions_separator {
    display: flex;
    width: 92%;
    justify-content: space-between;
    margin: 10px 0;
}

#profile_and_suggestions_separator>span:first-child {
    color: #737373;
    font-size: 14px;
    font-weight: 600;
}

#profile_and_suggestions_separator>span:last-child {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

#account_suggetions {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#account_suggetions.unimplemented>*{
    height: 50px;
    background-color: rgb(245, 245, 245) !important;
    border-radius: 10px;
}
#account_suggetions.unimplemented>* *{
    display: none !important;
}

/* CONTENT SECTION */

#content_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 0px;
    box-sizing: border-box;

}

/* STORY SECTION */

#stories_sec {
    height: max-content;
    width: 100%;
    padding: 0px 20px 0px 40px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: left;
    align-items: flex-start;
}

#stories {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
    padding-left: 5px;
    text-align: center;
}

.story {
    height: 87px;
    width: 12%;
    min-width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.dp_story {
    max-width: 66px;
    min-width: 46px;
    max-height: 66px;
    min-height: 46px;
    width: 110%;
    height: max-content;
    aspect-ratio: 1/1;

    background-image: linear-gradient(135deg, #8134AF, #DD2A7B, #FCAF45);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.dp_story>img {
    aspect-ratio: 1/1;
    max-width: 60px;
    min-width: 40px;
    width: 100%;
    border: 3px solid white;
}
.story>div:last-child {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.story .username_plain {
    font-size: 12px;    
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
}

.slide-arrow>img {
    width: 25px;
    filter: invert() contrast(100%) opacity(60%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.326);
}

.slide-left {
    left: 10px;
}

.slide-left>img {
    rotate: 180deg;
}

.slide-right {
    right: 10px;
}

/* POSTS */
#posts_sec {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: width 0.4s ease-in-out;
}

.post {
    width: 100%;
    height: max-content;
    font-size: 14px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.post-head {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-head>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post .user_profile_photo {
    margin-left: 5px;
    height: 32px;
    width: 32px;
}

.dot {
    color: gray;
    height: 4px;
    width: 4px;
}
.gray {
    color: #737373;
}

.post>div {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}


.post-carousel {
    height: fit-content;
    /* max-height: 658px; */
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content-container {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    align-items: center;
}

.post-content {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0px 0px -15px;
    display: flex;
    position: relative;
}

.post-content-img {
    margin: 0px;
    box-sizing: border-box;
}

.post-content-img>img {
    width: 100%;
}

.post-content-video {
    height: 100%;
}

.post-content-video>video {
    width: 100%;
    max-height: 658px;
    margin: 0px;
    padding: 0px;
}

.video-volume-toggle {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 7px;
    right: 10px;
    background-color: #737373;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(50%);
    cursor: pointer;
}

.video-volume-toggle img {
    width: 17px;
    filter: invert();
}

/* .post-content-reel {} */

.post-action {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    box-sizing: border-box;
}

.post-action>div:first-child {
    display: flex;
    gap: 18px;
}

.post-action svg {
    cursor: pointer;
}

.post-like-btn.liked {
    fill: rgb(255, 48, 64) !important;
    color: rgb(255, 48, 64) !important;
}

.post-like-btn.unliked {
    fill: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
}

.post-like-btn.unliked:hover {
    fill: #737373;
    color: #737373 !important;
}

.post-likecount {
    height: 18px;
    font-weight: 600;
}

.post-caption {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5px 0px;
}

.caption {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.caption-toggle-btn {
    display: none;
    color: #737373;
}

.caption.expand .caption-toggle-btn {
    display: inline;
}

.caption.expand {
    white-space: pre-wrap;
    height: auto;
}

.post-comment {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-comment-count {
    color: #737373;
}
.post-commet-type-area {
    display: flex;
    align-items: center;
}
.post-comment-add {
    border: 0px;
    margin: 0px;
    height: 20px;
    width: 90%;
}
.post-commet-type-area .post-new-comment-btn{
    color: #4cb5f9;
    text-align: right;
    width: 10%;
    font-weight: 500;
    cursor: pointer;
    display: none;
}
#posts_sec_end {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 20px 0 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
    text-align: center;
}

#posts_sec_end>div:first-child>img {
    width: 96px;
    height: 96px;
}

#posts_sec_end>div:nth-child(2) {
    font-size: 20px;
}

#posts_sec_end>div:nth-child(3) {
    font-size: 14px;
    color: #737373;
}


/* OPTION SECTION - SLIDE WINDOW */

#newsfeed_options-slide-window {
    backdrop-filter: blur(15px);
    position: absolute;
    border-radius: 0 15px 15px 0;

    height: 100vh;
    z-index: 10;
    box-sizing: border-box;
    transition: width 0.3s;
}
#newsfeed_options-slide-window.show{
    border-left: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
    box-shadow: 50px 0 50px -50px rgba(0, 0, 0, 0.5);
    width: 397px;
    top: 0px;
    left: 243px;
}
#newsfeed_options-slide-window.hide{
    width: 0px;
    left: 243px;
    border: 0px;
    overflow: hidden;
}
#newsfeed_options-slide-window>iframe{
    width: 100%;
    box-sizing: border-box;
}

#overlay-screen {
    background-color: #00000055;
    top: 0px;
    left: 0px;
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    backdrop-filter: blur(1px);
}

#overlay-screen>iframe {
    width: 100%;
    height: 100%;
}


/* MORE OPTS */

#more_opts {
    /* position: relative; */
}

#more_opts.pressed, #more_opts.pressed>svg {
    color: #737373 !important;
    fill: #737373 !important;
    background-color: #eeeeee;
}
#more_opts .more-opts-list {
    color: black;
    font-weight: 500;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 0px;
    position: absolute;
    background-color: white;
    width: 100%;
    top: -49px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    filter: blur(no) !important;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(255, 184, 207, 0.25) 10px 20px 55px, rgba(185, 246, 255, 0.12) 0px -12px 20px, rgba(184, 255, 253, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#more_opts .more-opts-list>div{
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    transition: background-color 0.4s;
}
#more_opts .more-opts-list>div:hover {
    background-color: #ededed;
}
#delete-user-btn {
    color: #ED4956;
}


/* OVERLAY SCREEN */




/* MULTI SCREEN */

@media (max-width: 1300px) {
    #newsfeed_content_sec {
        grid-template-columns: 630px;
    }

    #profile_and_suggestions_sec {
        display: none;
    }
}

@media (max-width: 900px) {
    .newsfeed {
        width: 100%;
        /* grid-template-columns: 100% !important; */
        display: flex;
        flex-direction: column;
    }
    #newsfeed_content_sec {
        grid-template-columns: 100%;
        padding: 0px 0px 100px 0px;
    }
    #newsfeed_content_sec::-webkit-scrollbar {
        display: none;
    }
    #newsfeed_content_sec #content_sec {
        grid-template-columns: auto;
    }
    #stories>.story {
        width: auto !important;
        min-width: 50px !important;
    }

    #newsfeed_opt_sec {
        /* display: none; */

        position: sticky;
        background-color: white;
        z-index: 10;
        width: 100%;
        height: max-content;
        top: 0px;
        border-bottom: 2px solid palevioletred;
        border-image: linear-gradient(135deg, #8134AF, #DD2A7B, #FCAF45) 1;
    }
    #newsfeed_opt_sec #insightgram_logo_sec {
        display: none;
    }
    #newsfeed_opt_sec #more_opts {
        display: none;
    }
    #newsfeed_options {
        flex-direction: row;
        gap: 0vh;
        margin: 0px;
    }
    #newsfeed_options>div {
        justify-content: center;
    }
    #newsfeed_options>div>svg {
        min-height: 24px;
        max-height: 24px;
        min-width: 24px;
        max-width: 24px;
    }
    #newsfeed_options>div>span{
        display: none;
    }


    #content-screen {
        flex: 0 0 1 !important;
        height: 100% !important;
    }


    #newsfeed_options-slide-window {
        position: fixed;
        left: 0px !important;
        right: auto;
        height: 100vh !important;
        border: 0px;
        box-shadow: none !important;
        border-radius: 0px;
    }
    
    #newsfeed_options-slide-window.show {
        width: 100% !important;
    }
}

@media (max-width:560px) {
    #posts_sec {
        width: 95% !important;
    }
}